<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a routerLink="/admin/home" class="navbar-brand mr-auto">
    <img src="/assets/dxc_logo.png" height="30px" class="d-inline-block align-top" alt="DXC-logo">
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mt-2 mt-lg-0" style="float: none !important;">
      <li class="nav-item ml-auto active" [ngClass]="{'active': location == 'home'}">
        <a class="nav-link" routerLink="/admin/home">Home</a>
      </li>
      <li class="nav-item active" [ngClass]="{'active': location == 'upload'}">
        <a class="nav-link" routerLink="/admin/upload">Upload</a>
      </li>
     <!-- <li class="nav-item active" [ngClass]="{'active': location == 'view-files'}">
        <a class="nav-link" routerLink="/admin/home">View Files</a>
      </li>
    -->
      <li class="nav-item active" [ngClass]="{'active': location == 'generate-report'}">
        <a class="nav-link" routerLink="/admin/generate-report">Generate Report</a>
      </li>
      <li class="nav-item active" [ngClass]="{'active': location == 'view-reports'}">
        <a class="nav-link" routerLink="/admin/view-reports">View Reports</a>
      </li>
      <li class="nav-item active" [ngClass]="{'active': location == 'manage-assets'}">
        <a class="nav-link" routerLink="/admin/manage-assets">Manage Assets</a>
      </li>
      <li class="nav-item active" [ngClass]="{'active': location == 'manage-users'}">
        <a class="nav-link" routerLink="/admin/manage-users">Manage Users</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
